@media (min-width: 300px) {
    #footer {
        background: #181818;
        width: 100vw;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: #b8b8b8;
        border: 3px solid #262626;
        user-select: none;
    }

    .footerp {
        font-size: 13px;
        font-weight: 500;
    }

    .footerh1 {
        font-size: 13px;
        font-weight: 700;
    }

    .footera {
        font-size: 13px;
        font-weight: 500;
        color: dodgerblue;
    }

    .footer-icons {
        width: 13px;
        filter: invert() brightness(200%);
    }
}

@media (min-width: 750px) {
    #footer {
        background: #181818;
        width: 100vw;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #b8b8b8;
        border: 3px solid #262626;
    }

    .footerp {
        font-size: 15px;
        font-weight: 500;
    }

    .footerh1 {
        font-size: 15px;
        font-weight: 700;
    }

    .footera {
        font-size: 15px;
        font-weight: 500;
        color: dodgerblue;
    }

    .footer-icons {
        width: 20px;
        filter: invert() brightness(200%);
    }
}
